{{!-- for each game = poop out games --}}
{{!-- pull games where user id of game matches user id --}}
{{!-- users have ids, games have user ids --}}
{{!-- stuff to put the game into
spot for name 
for min-max players
for game type
for the tags one tag only --}}

{{#each this}}
<div class="game-card">
  <h3>{{name}}</h3>
  <p>{{minplayers}}-{{maxplayers}}</p>
  <p>{{gametype}}</p>
  <p>{{tag}}</p>
  <a href="user/game/{{id}}">Delete Game</a>
</div>
{{/each}}
    