<!-- Iterate over the current context or array provided, rendering the content inside for each item -->
{{#each this}}
<div id="{{id}}" class="game-card">
  <h3>{{name}}</h3> <!-- Display the game name dynamically from data -->
  <p>{{minplayers}}-{{maxplayers}}</p> <!-- Display the range of minimum to maximum players -->
  <p>{{gametype.name}}</p> <!-- Display the type of game -->
  <p>{{#each tags}}
    {{name}}<br>
    {{/each}}
  </p> <!-- Display a tag associated with the game -->
  <a id="dltbtn" href="">Delete Game</a> <!-- Link to delete the game, potentially requires dynamic href or JavaScript handling -->
</div>
{{/each}}